@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.social-custom-class .social-svg-icon {
    fill: white !important;
}

.social-custom-class .social-svg {
    color: hsl(257, 40%, 49%);
    border: 0.1249rem solid white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.social-custom-class:hover .social-svg-icon {
    fill: hsl(300, 69%, 71%) !important;

}

.social-custom-class:hover .social-svg {
    border: 0.1249rem solid hsl(300, 69%, 71%) !important;
}

@media (min-width: 1440px) {
    .social-custom-class {
        width: 40px !important;
        height: 40px !important;
    }
}

